.cell0 {
 	background-color:#DEDEDE;
 	width:10px;
 	height:10px;
}

.cell1 {
 	background-color:#000000;
 	width:10px;
 	height:10px;
}

#divCA {
	position: relative;
}

#tblCA {
	border-style: solid;
	border-width: 1px;
}