.state0
{
	background-color: #FFFFFF;
	color: #000000;
}

.state1
{
	background-color: #000000;
	color: #FFFFFF;
}

.state2
{
	background-color: #FF0000;
	color: #000000;
}

.state3
{
	background-color: #00FF00;
	color: #000000;
}

.state4
{
	background-color: #0000FF;
	color: #FFFFFF;
}

.state5
{
	background-color: #FFFF00;
	color: #000000;
}

.state6
{
	background-color: #00FFFF;
	color: #000000;
}

.state7
{
	background-color: #FF00FF;
	color: #000000;
}

.state8
{
	background-color: #FF6600;
	color: #000000;
}

#btnAddRule
{
	margin-top: 10px;
	margin-bottom: 6px;
}

.divRule
{
	margin-top: 4px;
}
